.js-slider {
  width: 100%;
  height: 20px;
  background-color: #2F4A6D;
  cursor: pointer;
}

.js-slider text {
  font-size: 12px;
  fill: #fff;
}

.js-slider rect {
  fill: #fff;
}

.js-slider .line-mouse {
  stroke: red;
}

.js-slider .line-current {
  stroke: blue;
}

svg text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
